.header {
  background-color: #131921;
  display: flex;
  height: 60px;
  align-items: center;
 position: sticky;
 top: 0;
  z-index: 100;
  width: 100%;
}
.header__logo {
  object-fit: contain;
  width: 100px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.header__input__block {
  display: flex;
  flex: 1;
  margin-right: 20px;
}
.header__input {
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__text {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header__search {
  padding: 1px;
  height: 30px !important;
  background-color: #cd9042;
}
.header__basket {
  display: flex;
  color: white !important;
  align-items: center !important;
  margin-right: 20px;
}
.header__basket span {
  margin-left: 5px;
}
.first__text {
  font-size: 10px;
}
.second__text {
  font-size: 10px;
  font-weight: 800;
}
